.start {

    height: 80vh;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}

.start img {
    position: absolute;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img .mobile {
    display: none;
}

.start .images {
    display: none;
}


@media screen and (max-width:760px) {
    .start .images {
        display: block;
    }
}