.start {

    height: 80vh;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}

.start img {
    position: absolute;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (width:760px) {
    .d_flex {
        display: flex;
        flex-direction: column;
    }
}